/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

*					{ margin: 0; padding: 0; }
body				{ font: 20px/1.6 Georgia, serif; }

#page-wrap		    { width: 570px; margin: 25px auto; }
h1                  { font: bold 50px Helvetica, sans-serif; letter-spacing: -2px; margin: 0 0 15px 0; }
p                   { margin: 0 0 15px 0; }
.bookmarklet        { text-decoration: none; background: black; color: white; padding: 8px 20px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }
h2                  { font: bold 32px Helvetica, sans-serif; letter-spacing: -2px; margin: 40px 0 10px 0; }