* {
    margin: 0;
    padding: 0;
}
body {
    font: 20px/1.6 georgia, serif;
    overflow-x: hidden;
}
#frame {
    margin: 3px 0 0 1px;
}
#page-wrap {
    max-width: 570px;
    margin: 25px auto;
    padding: 0 15px;
}
h1 {
    font: bold 50px sans-serif;
    letter-spacing: -2px;
    margin: 0 0 15px 0;
}
#dev-mode {
    margin-left: 20px;
    vertical-align: middle;
    font-size: 20px;
    color: red;
}
p {
    margin: 0 0 15px 0;
}
.bookmarklet {
    text-decoration: none;
    background: black;
    color: white;
    padding: 8px 20px;
    margin-top: 4px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.drag-arrow {
    font-size: 14px;
    vertical-align: middle;
}
.drag-arrow strong {
    font-size: 20px;
}
h2 {
    font: bold 32px Helvetica, sans-serif;
    letter-spacing: -2px;
    margin: 40px 0 10px 0;
}
#demo-top-bar {
    text-align: left;
    background: #222;
    position: relative;
    zoom: 1;
    width: 100% !important;
    z-index: 6000;
    padding: 20px 0 20px;
}
#demo-bar-inside {
    width: 960px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
#demo-bar-buttons {
    padding-top: 10px;
    float: right;
}
#demo-bar-buttons a {
    font-size: 12px;
    margin-left: 20px;
    color: white;
    margin: 2px 0;
    text-decoration: none;
    font: 14px "Lucida Grande", Sans-Serif !important;
}
#demo-bar-buttons a:hover,
#demo-bar-buttons a:focus {
    text-decoration: underline;
}
#demo-bar-badge {
    display: inline-block;
    width: 302px;
    padding: 0 !important;
    margin: 0 !important;
    background-color: transparent !important;
}
#demo-bar-badge a {
    display: block;
    width: 100%;
    height: 38px;
    border-radius: 0;
    bottom: auto;
    margin: 0;
    background: url(../images/examples-logo.png) no-repeat;
    background-size: 100%;
    overflow: hidden;
    text-indent: -9999px;
}
#demo-bar-badge:before,
#demo-bar-badge:after {
    display: none !important;
}

.video-wrapper {
    height: 0;
    padding-top: 56.25%;
    position: relative;
}
.video-wrapper > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}